<section class="main">
      <section class="box" id="your_articles">
      <h2 class="section_title"><%=@user.name%>'s Posts </h2>
        <% @created_docs.each do |doc| %>
            <% title = doc.title %>
            <% title_link = title.gsub(" ", "_") %>
           <h3>
        <a href="/documents/<%=title_link %>"><%= title %></a>
        <br>
        <% end %>
      </section>
      <section class="box" id="editable_articles">
      <h2 class="section_title">Articles <%=@user.name%> Can Edit </h2>

        <% @editable_docs.each do |doc| %>
            <% title = doc.title %>
            <% title_link = title.gsub(" ", "_") %>
           <h3>
            <a href="/documents/<%=title_link %>"><%= title %></a>
            <br>
        <% end %>
      </section>
      <section class="box" id="pending_requests">
      <h2 class="section_title"> Pending Requests </h2>
        <% @pending_requests.each do |doc| %>
  <p>Request from: <%= User.find(id: doc.user_id).name %> to edit '<%= Document.find(id: doc.document_id).title %>' </p>
    <div id="edit_buttons">
      <ul>
        <li>
          <form method="post" action="../permissions/<%=doc.id%>/approve">
            <input type="hidden" name="_method" value="PUT" />
            <input class="submit_button" type="submit" value="grant" id="grant">
          </form>
        </li>
        <li>
          <form method="post" action="../permissions/<%=doc.id%>/deny">
            <input type="hidden" name="_method" value="PUT" />
            <input class="submit_button" type="submit" value="reject" id="reject">
          </form>
        </li>
      </ul>
    </div>
    <br>
        <% end %>
      </section>
      <section class="box" id="user_permissions">
        <h2 class="section_title"> User Settings </h2>
      <a href="/users/<%=session[:current_user][:id]%>/edit">Edit user permissions</a>
  </section>
</section>

