  <section class="main">
    <h2>Click on a version to see the differences from the current version</h2>
<% @versions.each_with_index do |version, index| %>
  <% if @versions.count > index + 1 %>
  <%=  %>
  <a href="/versions/<%=@document.title.gsub(" ", "_")%>/<%=version.id %>/show">Version <%= index + 1 %>: <%= nice_date(version.created_at) %></a><br>
  <% else %>
  <p>Current Version: <%= nice_date(version.created_at) %></p>
  <% end %>
<% end %>
  <section class="main">
